.center{ margin:0 auto;}

.hackV {
  padding-top: 80px;
  padding-bottom: 30px;
}
body {
    height:100%;
    margin:0;

    background: linear-gradient(#B0B0B0,whitesmoke,lightgray);
    background-repeat:no-repeat;
    background-attachment: fixed;
}
html *
{
   height: 100%;
font-family: 'Libre Baskerville', serif;
 

}
.row{
  margin-top: 30px;
  margin-bottom: 30px
}
.blackBorder{
    border-color: black;
    border-width:5px;
    
}
.carousel-inner > .item > img {
    margin: 0 auto;
}